.menu__button {
    @media screen and(max-width: 767px) {
        display: inline-flex;
        margin-left: auto;
        padding: 0;
        border: none;
        background-color: transparent;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover {
            fill: $accent-color;
        }
        &:focus {
            fill: $accent-color;
        } 
    }
    @media screen and(min-width: 768px) {
        display: none;
    }
    @media screen and(min-width: 1200px) {
        display: none;
    }
}
.menu__button .icon__menu {
    @media screen and(max-width: 767px){
        display: none;  
    } 
}

.menu__button.is-open .icon__menu {
    @media screen and(max-width: 767px){
        display: block;  
    } 
}

.menu__button.is-open .icon__cross {
    @media screen and(max-width: 767px){
    display: none;
}
}