.company {
    display: flex;
    justify-content: center;
    padding-bottom: 94px;
    @media screen and(max-width: 767px) {
        margin: -15px;
        flex-wrap: wrap;
        padding-bottom: 0;
    }
           
    @media screen and(min-width: 768px) {
            flex-wrap: wrap;
            margin: -15px; 
            padding-bottom: 0;
    }
    @media screen and(min-width: 1200px) {
        flex-wrap: nowrap;
        
}

    &__item {
        margin-right: 30px;
        @media screen and(max-width: 767px) {
            margin: 15px;
            width: calc(50% - 30px);
        }
        @media screen and(min-width: 768px) {
            margin: 15px;
            width: calc((100% - 3 * 30px) / 3);
        }
        
    }
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        content: "";
        width: 170px;
        height: 90px;
        border: solid 1px;
        background-color: $primary_white_color;
        background-position: center;
        background-size: contain;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        @media screen and(max-width: 767px) {
            width: auto;
        } 
        @media screen and(min-width: 768px) {
            width: 226px;
        } 
        @media screen and(min-width: 1200px) {
            width: 170px;
        } 
    }
    &__icon {
        fill: #AFB1B8; 
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);  
    }
    &__link:hover {
        border-color: $accent-color;
    }
    &__link:hover &__icon{
        fill: $accent-color;
    }
    
}
